body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.linkedIn-icon {
  width: 20px;
}

.table-container {
  display: flex;
  justify-content: center;
}

.searchbar {
  width: 500px;
  height: 30px;
  margin-bottom: 20px;
  font-size: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.checkboxes {
  display: flex;
  justify-content: flex-start;
}

.checkboxes label {
  padding: 0 20px 0 3px;
}
